.form{
    border: 2px solid grey;
    padding: 22px;
    margin: 12px;
    box-shadow: 2px 2px 6px 2px;
    text-align: center;
}



input{
    width: 40%;
    box-sizing: border-box;
}

input[type=text],input[type=email]{
    margin-left: 62px;
    border: none;
  border-bottom: 2px solid black;
}



textarea{
    margin-left: 50px;
    vertical-align: middle;
}

input[type=number]{
    margin-left: 24px;
    border: none;
  border-bottom: 2px solid black;
}

.enq{
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 8px;
}

.contact_heading{
    margin: 5px;
    font-weight: bold;
}

.contact_slogan{
    margin: 32px;
}

.eq_button{
    text-align: center;
    margin-left: -40px;
}

.select_plan_label{
    margin-left: -202px;
}